<!--   Body Section   -->
<div class="container">
    <div class="row mb-5">
        <a href="/" class="btn btn-success">Go Back</a>
    </div>


    <div class="container party-wrapper">
  <div class="row">
    <div class="h1bkgrd">
      <h1>{{party.eventName}}</h1>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3 imgstyle">
      <img src="../img/danceOff.jpg">
      <button id="confirm-attendance" class="btn-two green small">Confirm Attendance</button>
        <div class="attendance-bkgrd">
            <h5>Attendees</h5>
            <ol>
                <li>Mike B</li>
                <li>Tony Rome</li>
                <li>Jerome</li>
                <li>Ahmed</li>
            </ol>
        </div>
      <p>{{> (lookup . 'partial') partyId=party.id }}</p>
    </div>
    <div class="col-md-9 party-description">
      <i class="far fa-clock"></i> <span class="time-space">{{party.eventTime}} | {{party.eventDate}}</span>
      <h1>{{party.eventName}}</h1>
      <p>{{party.eventAddress}}</p>
      <hr>
      <p class="p-description">{{party.eventDescription}}</p>
        <div class="submit-items">
            <p>Please input your items and quantity you are bringing to the party</p>
            <form class="items-to-bring">
                <input type="text" class="form-control" placeholder="item name" id="item-name">
                <input type="text" class="form-control" placeholder="item qty" id="item-qty">
                <button type="submit" class="btn-two cyan small">submit</button>
            </form>
        </div>

        <div class="row">
            <div class="col-md-6 responsive-table">
                <p>Items To Bring</p><table class="striped">
                <thead>

                <tr>
                    <th>Item Name</th>
                    <th>Qty</th>
                    <th>Add Items</th>
                </tr>
                </thead>
                <tbody class="responsive-table-body-req">
                <tr>
                    <td>Gin</td>
                    <td>3</td>
                    <td class="btn-floating"> <a class="btn-small waves-effect waves-light green"><i class="fas fa-plus-circle"></i></a></td>
                </tr>


                <tr>
                    <td>Juice</td>
                    <td>1</td>
                    <td class="btn-floating"> <a class="btn-small waves-effect waves-light green"><i class="fas fa-plus-circle"></i></a></td>
                </tr>
                <tr>
                    <td>pizza</td>
                    <td>3</td>
                    <td class="btn-floating"> <a class="btn-small waves-effect waves-light green"><i class="fas fa-plus-circle"></i></a></td>
                </tr>

                </tbody>
            </table>
            </div>
            <div class="col-md-6 responsive-table">
                <p>Being Brought by Guests</p><table class="striped">
                <thead>
                <tr>
                    <th>Item</th>
                    <th>Qty</th>
                </tr>
                </thead>
                <tbody class="responsive-table-body-res">
                <tr>
                    <td>Gin </td>
                    <td>5</td>
                </tr>


                <tr>
                    <td>Juice </td>
                    <td>5</td>
                </tr>


                <tr>
                    <td>pizza </td>
                    <td>7</td>
                </tr>

                </tbody>
            </table>
            </div>
    </div>


  </div>
</div>
<script>




    const randomTexts = [
        '<h1>First Content</h1>',
        '<h1>Second Content</h1>',
        '<h1>Third Content</h1>'
    ];

    //console.log('loc parts', location.pathname.split("/")[2])
    const partyId = location.pathname.split("/")[2];
    const randomText = randomTexts[partyId - 1] //randomTexts[Math.floor(Math.random()*randomTexts.length)];
    //document.querySelector('#random-text').innerHTML = randomText;
</script>
